.homePage.pane {

  .splash.wildPane{

    .homeTitle{
      position:relative;
      width: 100%;

      img {
        bottom: 0;
        display: block;
        width: 100%;
      }

      .facebookLike {
        position: absolute;
        top: 14%;
        right: 65%;
      }
    }

    .homeRanking{
      position:absolute;
      width: 100%;
      bottom:0;

      .title {
        position: absolute;
        left: 8%;
        width: 34vh;

        .text {
          position: absolute;
          width: 100%;
          text-align: left;
          color: #FFF;
          font: 2.3vh RioGrande-Bold;
          top: 0.05vh;
          line-height: 1.2em;
          left: 12%;
        }

        img {
          width: 100%;
        }

        &.languageTitle {
          bottom: 50.6vh;
        }

        &.rankingTitle {
          bottom: 41.3vh;
        }
      }



      img {
        bottom: 0;
        display: block;
      }

      .flags{
        position: absolute;
        bottom: 45.4vh;
        left: 9%;
        height:7%;

        .flag{
          position: relative;
          float:left;
          height:100%;
          margin-right: 5px;
          opacity: 0.3;

          img{
            max-width: 100%;
            max-height: 100%;
            width: initial;
          }

          &.selected {
            opacity: 1;
          }
        }
      }

      .ranking{
        position: absolute;
        top: 24vh;
        left: 11%;
        width: 65%;
        height: 27vh;
        overflow: auto;

        .rankingContents{
          position: absolute;
        }

        .score{
          position: relative;
          margin-bottom: 0px;
          float: left;
          width: 100%;
        }
        .scoreIndex{
          position: relative;
          font: 2.2vh FuturaStd-Book;
          float: left;
          width: 21%;
          line-height: 3vh;
        }
        .rankingScoreValue{
          position:relative;
          font: 2.2vh FuturaStd-Bold;
          float:left;
          width: 44%;
          line-height: 3vh;

          .ms {
            font: 2.2vh FuturaStd-Book;
          }
        }
        .scoreUsername {
          position:relative;
          font: 2.2vh FuturaStd-Book;
          float:left;
          line-height: 3vh;
        }
      }

      .homePlay{
        position: absolute;
        bottom: 6vh;
        left: 6%;
        width: 90%;
        text-align: center;

        img {
          width: 100%;
        }

        a {
          text-decoration: none;
          .text {
            font: 5vh RioGrande-Bold;
          }
        }
      }

      .homeInstructions{
        position: absolute;
        bottom: 2.8vh;
        left: 0%;
        width: 100%;
        text-align: center;

        img {
          width: 100%;
        }

        .text{
          font: 2.9vh RioGrande-Bold;
          color: #4B4C4C;
        }
      }

    }
  }
}
