/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;

$href: #35221B;
$hrefHover: #C65634;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets../../main/assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";


@font-face
{
  font-family: 'RioGrande-Bold';
  src: url('../../main/assets/fonts/RioGrande.ttf');
}

@font-face
{
  font-family: 'RioGrande-Bold-Striped';
  src: url('../../main/assets/fonts/RioGrande-Striped.ttf');
}
@font-face
{
  font-family: 'FuturaStd-Bold';
  src: url('../../main/assets/fonts/FuturaStd-Bold.otf');
}
@font-face
{
  font-family: 'FuturaStd-Book';
  src: url('../../main/assets/fonts/FuturaStd-Book.otf');
}

html, body {
  overflow: hidden;
  position: relative;
}

body{
  padding: 0;
  margin: 0;
  margin-top: 20px;
  width: 100vw;
  height: calc(100vh - 20px);

  background: #0068ad;
  background: -moz-linear-gradient(top,  #0068ad 38%, #79aeb4 100%);
  background: -webkit-linear-gradient(top,  #0068ad 38%,#79aeb4 100%);
  background: linear-gradient(to bottom,  #0068ad 38%,#79aeb4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0068ad', endColorstr='#79aeb4',GradientType=0 );


  .backgroundTopLeft{
    position: absolute;
    top: 0;
    left: 0;
    width: 40vh;

    img {
      width: 100%;
      height: auto;
    }
  }
  .backgroundTopRight{
    position: absolute;
    top: 9%;
    right: -14%;
    width: 46vh;

    img {
      width: 100%;
      height: auto;
    }
  }

  .backgroundBottomLeft{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 40vh;

    img {
      width: 100%;
      height: auto;
      vertical-align: bottom;
    }
  }

  .backgroundBottomRight{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 40vh;

    img {
      width: 100%;
      height: auto;
      vertical-align: bottom;
    }
  }

  .wildLogin {
    position: absolute;
    top: 0.5vh;
    width: 100%;
    height: 3.4vh;
    left: 4%;

    .accountContainer {
      position: relative;
      float: left;
      height: 100%;

      img {
        height: 100%;
        width: auto;
      }
      .name {
        position: absolute;
        top: 0.53vh;
        left: 19.1%;
        font: 2.3vh RioGrande-Bold;
      }

      .level {
        position: absolute;
        top: 0.23vh;
        left: 1.7%;
        font: 2.9vh RioGrande-Bold;
        color: #FFFFFF;
        width: 13%;
        text-align: center;
      }
    }


    .balanceContainer {
      position: relative;
      float: left;
      height: 100%;
      background: #5CA648;
      border-radius: 1.4vh;
      margin-left: 1.3%;
      font: 2.5vh FuturaStd-Bold;
      color: #FFFFFF;
      padding-right: 3%;
      padding-left: 1%;

      img {
        position: relative;
        float: left;
        height: 100%;
        width: auto;
      }

      .balanceValue {
        position: relative;
        float: left;
        line-height: 3.8vh;

      }
    }
  }
}

[nav-view-transition="ios"][nav-view-direction="forward"],
[nav-view-transition="ios"][nav-view-direction="back"]{
  background: transparent;
}

.pane, .view {
  background: transparent;
}

ion-view {
  .ionContentContainer {
    height: calc(100% - 20px) !important;
  }
}

.text{
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
  cursor: default;

  color: $href;

  &:hover{
    color:$hrefHover;
  }
}

.wildPane {
  width: 100vw;
  height: 171vw;
  max-height: calc(100vh - 19px);
  max-width: 53vh;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

