<ion-view view-title="GamePage" class="gamePage">
    <ion-content scroll="false">

        <div class="ionContentContainer">
            <div id="splash" class="game wildPane">

                <wild-account
                        name="{{pc.accountService.name}}"
                        level="{{pc.accountService.level}}"
                        balance="{{pc.accountService.balance}}">
                </wild-account>

                <wild-game num-rows="9" num-columns="7" locale="{{pc.accountService.selectedLocale}}" uuid="{{pc.accountService.uuid}}"></wild-game>
            </div>
        </div>

    </ion-content>
</ion-view>