<ion-view view-title="HomePage" class="homePage">
    <ion-content scroll="false">

        <!--SPLASH-->
        <div id="splash" class="splash">

            <!-- TITLE -->
            <div class="homeTitle">
                <img src="main/assets/images/homeTitle.png" width="100%" alt="title"/>

                <div class="facebookLike">
                    <div class="fb-like" data-href="https://www.facebook.com/pages/StarwordsCompany/815552935203330" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
                </div>

            </div>

            <!--&lt;!&ndash;USERNAME&ndash;&gt;-->
            <!--<% if (account) { %>-->
            <!--<div class="homeUsername">-->
                <!--<div class="usernameSupport">-->
                    <!--<img src="/main/assets/images/usernameSupport.png" alt="usernameSupport"/>-->

                    <!--<div class="usernameValue"><%= account.username %></div>-->

                    <!--<div id="homeLogout" class="logout">-->
                        <!--<img src="/main/assets/images/logout.png" alt="logout"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<% } %>-->

            <!-- RANKING -->
            <div id="homeRanking" class="homeRanking" >
                <img src="main/assets/images/homeRanking.png" width="100%" alt="ranking"/>

                <!--FLAGS-->
                <div id="flags" class="flags">
                    <div id="gbFlag" class="gbFlag" data-locale="en_GB">
                        <img src="main/assets/images/en-gb.png" alt="flag"/>
                    </div>
                    <div id="frFlag" class="frFlag" data-locale="fr_FR">
                        <img src="main/assets/images/fr-fr.png" alt="flag"/>
                    </div>
                </div>

                <div id="ranking" class="ranking">
                    <div class="score" data-ng-repeat="($index,score) in pc.scores">
                        <div class="scoreIndex">{{$index}}</div>
                        <div class="rankingScoreValue">{{score.value | time}}</div>
                        <div class="scoreUsername">Pierre</div>
                    </div>
                </div>


                <!-- PLAY BUTTON -->
                <div class="homePlay">
                    <a ui-sref="game">
                        <span class="text">Play Now</span>
                    </a>
                </div>

                <!-- INSTRUCTIONS BUTTON -->
                <div class="homeInstructions">
                    <span class="text">Instructions</span>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>