<ion-view view-title="HomePage" class="homePage">
    <ion-content scroll="false">

        <div class="ionContentContainer">
            <!--SPLASH-->
            <div id="splash" class="splash wildPane">

                <!-- TITLE -->
                <div class="homeTitle">
                    <img src="main/assets/images/homeTopPanel@2x.png" width="100%" alt="title"/>

                    <div class="facebookLike">
                        <div class="fb-like" data-href="https://www.facebook.com/pages/StarwordsCompany/815552935203330" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
                    </div>

                </div>

                <wild-account
                            name="{{pc.accountService.name}}"
                            level="{{pc.accountService.level}}"
                            level-percent="{{pc.accountService.levelPercent}}"
                            balance="{{pc.accountService.balance}}">
                </wild-account>

                <div class="homeNavigation">
                    <navigation></navigation>
                </div>

                <!-- RANKING -->
                <div id="homeRanking" class="homeRanking" >
                    <img src="main/assets/images/homeBottomPanel@2x.png" width="100%" alt="ranking"/>

                    <div class="title languageTitle">
                        <img src="main/assets/images/titleBackgroundLong@2x.png"/>
                        <div class="text">SELECT YOUR LANGUAGE</div>
                    </div>

                    <!--FLAGS-->
                    <locale-selection locales="pc.Locales" selected-locale="pc.accountService.selectedLocale"></locale-selection>


                    <div class="title rankingTitle">
                        <img src="main/assets/images/titleBackgroundLong@2x.png"/>
                        <div class="text">RANKING</div>
                    </div>

                    <ranking locale="pc.accountService.selectedLocale"></ranking>

                    <!-- PLAY BUTTON -->
                    <div class="homePlay">
                        <a ui-sref="game" ui-sref-opts="{reload:true}">
                            <span class="text">Play Now</span>
                        </a>
                    </div>

                    <!-- INSTRUCTIONS BUTTON -->
                    <div class="homeInstructions">
                        <span class="text">Instructions</span>
                    </div>

                </div>


                <div class="homeWeapons">
                    <wild-weapon-list
                            num-bombs="{{pc.accountService.weapons.numBombs}}"
                            num-nitros="{{pc.accountService.weapons.numNitros}}"
                            num-freezes="{{pc.accountService.weapons.numFreezes}}"
                            num-bonus-multipliers="{{pc.accountService.weapons.numBonusMultipliers}}"
                            num-recycles="{{pc.accountService.weapons.numRecycles}}">
                    </wild-weapon-list>
                </div>


            </div>
        </div>

    </ion-content>
</ion-view>