<ion-view view-title="LoadingPage" class="loadingPage">
    <ion-content scroll="false">

        <!--PRELOADER-->
        <div id="preloader" class="preloader">

            <h1>Word Wild West</h1>
            <h2>Casual Word-puzzle Game</h2>

            <!-- TITLE -->
            <div class="homeTitle">
                <img id="preloadHeader" src="main/assets/images/preloaderHeader@2x.png" width="100%" alt="wild word west"/>

                <div class="preloaderProgress">
                    <span class="value"></span>
                    <span class="percent">%</span>
                </div>
            </div>

            <!--AD-->
            <div class="balad">
                <img src="main/assets/images/balad.png" width="100%"/>

                <div class="content">
                    <a href="http://www.wegeoo.com">
                        <img src="main/assets/images/wegeoobalad.png" width="100%" alt="wegeoo.com"/>
                    </a>
                </div>

                <!--AD TIME -->
                <div id="adTime" class="adTime">{{pc.numSecondsRemaining}}</div>

            </div>
        </div>

    </ion-content>
</ion-view>